In [4]:
from impyute.imputation.cs import mice
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import numpy as np

In [5]:
dataset = pd.read_csv('/Users/wenqi/PycharmProjects/DS5360_case1_team3/data/after_feature_engineering_dataset.csv')

In [8]:
# defining target 
target = dataset['sars_cov_2_exam_result']

# defining predictor variables 
features = dataset.drop(['sars_cov_2_exam_result','patient_id'], axis=1)

# assigning the splitting of data into respective variables
X_train,X_test,y_train,y_test = train_test_split(features, target, test_size=0.3, random_state=42, stratify = target)

In [ ]:
X_train=mice(X_train.values)
y_train=mice(y_train.values)

In [10]:
X_train

,patient_age_quantile,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,lymphocytes,mean_corpuscular_hemoglobin_concentration_mchc,...,adenovirus,parainfluenza_4,inf_a_h1n1_2009,metapneumovirus,urea,creatinine,potassium,influenza_a_rapid_test,patient_had_blood_test,patient_had_urine_test
5313,14,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4856,0,0,0,0,-0.816359,-0.586244,1.605533,0.235063,-0.764823,0.742040,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1,0
4043,7,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2732,5,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3535,19,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,4,0,0,0,0.442512,0.917499,-0.077750,-0.325903,-0.073970,1.936978,...,0.0,0.0,0.0,0.0,-0.588343,0.263496,-1.294433,NaN,1,1
5049,6,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4175,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1829,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4633,7,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [ ]:
y_train