In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\tfls_\Documents\GitHub\DS5360_case1_team3\data\clean_dataset.csv')

In [3]:
data = data.drop(columns = ['Unnamed: 0'])

In [4]:
num = data.notnull().sum()

In [5]:
nulls = num.to_frame('count')

In [6]:
nulls =nulls.drop(nulls.loc[nulls['count']==0].index)

In [7]:
nulls =nulls.drop(nulls.loc[nulls['count']==5644].index)

In [8]:
nulls =nulls.sort_values(by=['count'], ascending=False)
nulls

                                count
influenza_b                      1354
influenza_a                      1354
respiratory_syncytial_virus      1354
rhinovirus_enterovirus           1352
parainfluenza_4                  1352
...                               ...
albumin                            13
lipase_dosage                       8
vitamin_b12                         3
fio2_venous_blood_gas_analysis      1
urine_nitrite                       1

[99 rows x 1 columns]

In [9]:
len(nulls)

99

In [10]:
mega = []
for index in range(len(nulls)-1):
    tmp = []
    tmp.append(nulls.iloc[index].name)
    for i in range(index+1,len(nulls)):
        tmp.append(nulls.iloc[i].name)
        tmp_data = data.dropna(subset=tmp,how = 'all')[tmp]
        if tmp_data.shape[0]> nulls.iloc[index].values :
            del tmp[-1]
    mega.append(tmp)
    print(tmp)
    print(index)

['influenza_b', 'influenza_a', 'respiratory_syncytial_virus', 'rhinovirus_enterovirus', 'parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
0
['influenza_a', 'respiratory_syncytial_virus', 'rhinovirus_enterovirus', 'parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
1
['respiratory_syncytial_virus', 'rhinovirus_enterovirus', 'parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
2
['rhinovirus_enterovirus', 'parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
3
['parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
4
['coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
5
['parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
6
['chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
7
['adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
8
['coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
9
['coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
10
['coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
11
['inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
12
['bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
13
['metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
14
['parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
15
['parainfluenza_1', 'urine_nitrite']
16
['influenza_b_rapid_test', 'influenza_a_rapid_test', 'fio2_venous_blood_gas_analysis']
17
['influenza_a_rapid_test', 'fio2_venous_blood_gas_analysis']
18
['hematocrit', 'hemoglobin', 'lymphocytes', 'basophils', 'red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
19
['hemoglobin', 'lymphocytes', 'basophils', 'red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
20
['lymphocytes', 'basophils', 'red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
21
['basophils', 'red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
22
['red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
23
['platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
24

['leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
25
['mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
26
['mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
27
['eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
28
['mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
29
['red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
30
['monocytes', 'neutrophils', 'serum_glucose', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
31
['mean_platelet_volume', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
32
['neutrophils', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
33
['proteina_c_reativa_mg_d_l', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
34
['creatinine', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
35
['urea', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
36
['potassium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
37
['sodium', 'magnesium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
38
['strepto_a']
39
['aspartate_transaminase', 'alanine_transaminase', 'gamma_glutamyltransferase_u_fffd', 'alkaline_phosphatase', 'lipase_dosage', 'vitamin_b12']
40
['alanine_transaminase', 'gamma_glutamyltransferase_u_fffd', 'alkaline_phosphatase', 'lipase_dosage', 'vitamin_b12']
41
['serum_glucose', 'fio2_venous_blood_gas_analysis']
42
['direct_bilirubin', 'indirect_bilirubin', 'total_bilirubin', 'fio2_venous_blood_gas_analysis']
43
['indirect_bilirubin', 'total_bilirubin', 'fio2_venous_blood_gas_analysis']
44
['total_bilirubin', 'fio2_venous_blood_gas_analysis']
45
['gamma_glutamyltransferase_u_fffd', 'lipase_dosage', 'vitamin_b12']
46
['alkaline_phosphatase', 'vitamin_b12']
47
['p_o2_venous_blood_gas_analysis', 'hco3_venous_blood_gas_analysis', 'p_h_venous_blood_gas_analysis', 'total_co2_venous_blood_gas_analysis', 'hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
48
['hco3_venous_blood_gas_analysis', 'p_h_venous_blood_gas_analysis', 'total_co2_venous_blood_gas_analysis', 'hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
49
['p_h_venous_blood_gas_analysis', 'total_co2_venous_blood_gas_analysis', 'hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
50
['total_co2_venous_blood_gas_analysis', 'hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
51

['hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
52
['base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
53
['p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
54
['international_normalized_ratio_inr', 'relationship_patient_normal', 'fio2_venous_blood_gas_analysis']
55
['creatine_phosphokinase_u_fffd_cpk_u_fffd']
56
['lactic_dehydrogenase']
57
['myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number']
58
['myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number']
59
['metamyelocytes', 'promyelocytes', 'segmented', 'rods_number']
60
['promyelocytes', 'segmented', 'rods_number']
61
['segmented', 'rods_number']
62
['rods_number']
63
['relationship_patient_normal']
64
['urine_aspect', 'urine_p_h', 'urine_bile_pigments', 'urine_density', 'urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
65
['urine_p_h', 'urine_bile_pigments', 'urine_density', 'urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
66
['urine_bile_pigments', 'urine_density', 'urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
67
['urine_density', 'urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
68
['urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
69
['urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
70
['urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
71
['urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
72
['urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
73
['urine_granular_cylinders', 'urine_hyaline_cylinders', 'urine_protein', 'urine_nitrite']
74
['urine_urobilinogen', 'urine_ketone_bodies', 'urine_nitrite']
75
['urine_hyaline_cylinders', 'urine_nitrite']
76
['urine_esterase', 'urine_nitrite']
77
['urine_protein', 'urine_nitrite']
78
['urine_ketone_bodies', 'urine_nitrite']
79
['ionized_calcium_u_fffd']
80
['magnesium', 'vitamin_b12']
81
['p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
82
['hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
83
['p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
84
['hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
85
['total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
86
['p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
87
['base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
88
['ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
89
['arterial_lactic_acid', 'arteiral_fio2']
90
['ferritin']
91
['arteiral_fio2']
92
['phosphor', 'vitamin_b12']
93
['albumin']
94
['lipase_dosage']
95
['vitamin_b12']
96
['fio2_venous_blood_gas_analysis']
97

In [11]:
duplicate = []
for i in range(len(mega)-1):
    if (all(item in mega[i] for item in mega[i+1])==True):
        duplicate.append(i+1)

In [12]:
subsets = mega

In [13]:
iterate = 0
for item in set(duplicate):
    item = item - iterate
    subsets.pop(item)
    iterate += 1

In [14]:
subsets

[['influenza_b',
  'influenza_a',
  'respiratory_syncytial_virus',
  'rhinovirus_enterovirus',
  'parainfluenza_4',
  'coronavirus_hku1',
  'parainfluenza_3',
  'chlamydophila_pneumoniae',
  'adenovirus',
  'coronavirus229e',
  'coronavirus_nl63',
  'coronavirus_oc43',
  'inf_a_h1n1_2009',
  'bordetella_pertussis',
  'metapneumovirus',
  'parainfluenza_2',
  'parainfluenza_1',
  'urine_nitrite'],
 ['influenza_b_rapid_test',
  'influenza_a_rapid_test',
  'fio2_venous_blood_gas_analysis'],
 ['hematocrit',
  'hemoglobin',
  'lymphocytes',
  'basophils',
  'red_blood_cells',
  'platelets',
  'leukocytes',
  'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc',
  'mean_corpuscular_hemoglobin_mch',
  'eosinophils',
  'mean_corpuscular_volume_mcv',
  'red_blood_cell_distribution_width_rdw',
  'monocytes',
  'mean_platelet_volume',
  'neutrophils',
  'serum_glucose',
  'international_normalized_ratio_inr',
  'myeloblasts',
  'myelocytes',
  'metamyelocytes',
  'promyelocytes',
  'segmented',
  'rods_number',
  'relationship_patient_normal',
  'ionized_calcium_u_fffd',
  'magnesium',
  'p_co2_arterial_blood_gas_analysis',
  'hb_saturation_arterial_blood_gases',
  'p_o2_arterial_blood_gas_analysis',
  'hco3_arterial_blood_gas_analysis',
  'total_co2_arterial_blood_gas_analysis',
  'p_h_arterial_blood_gas_analysis',
  'base_excess_arterial_blood_gas_analysis',
  'ct_o2_arterial_blood_gas_analysis',
  'arterial_lactic_acid',
  'ferritin',
  'arteiral_fio2',
  'phosphor',
  'lipase_dosage',
  'vitamin_b12',
  'fio2_venous_blood_gas_analysis',
  'urine_nitrite'],
 ['mean_platelet_volume',
  'myeloblasts',
  'myelocytes',
  'metamyelocytes',
  'promyelocytes',
  'segmented',
  'rods_number',
  'ionized_calcium_u_fffd',
  'magnesium',
  'p_co2_arterial_blood_gas_analysis',
  'hb_saturation_arterial_blood_gases',
  'p_o2_arterial_blood_gas_analysis',
  'hco3_arterial_blood_gas_analysis',
  'total_co2_arterial_blood_gas_analysis',
  'p_h_arterial_blood_gas_analysis',
  'base_excess_arterial_blood_gas_analysis',
  'ct_o2_arterial_blood_gas_analysis',
  'arterial_lactic_acid',
  'ferritin',
  'arteiral_fio2',
  'phosphor',
  'lipase_dosage',
  'vitamin_b12',
  'fio2_venous_blood_gas_analysis',
  'urine_nitrite'],
 ['neutrophils', 'fio2_venous_blood_gas_analysis', 'urine_nitrite'],
 ['proteina_c_reativa_mg_d_l',
  'vitamin_b12',
  'fio2_venous_blood_gas_analysis',
  'urine_nitrite'],
 ['creatinine', 'vitamin_b12', 'fio2_venous_blood_gas_analysis'],
 ['urea', 'vitamin_b12', 'fio2_venous_blood_gas_analysis'],
 ['potassium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis'],
 ['sodium', 'magnesium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis'],
 ['strepto_a'],
 ['aspartate_transaminase',
  'alanine_transaminase',
  'gamma_glutamyltransferase_u_fffd',
  'alkaline_phosphatase',
  'lipase_dosage',
  'vitamin_b12'],
 ['serum_glucose', 'fio2_venous_blood_gas_analysis'],
 ['direct_bilirubin',
  'indirect_bilirubin',
  'total_bilirubin',
  'fio2_venous_blood_gas_analysis'],
 ['gamma_glutamyltransferase_u_fffd', 'lipase_dosage', 'vitamin_b12'],
 ['alkaline_phosphatase', 'vitamin_b12'],
 ['p_o2_venous_blood_gas_analysis',
  'hco3_venous_blood_gas_analysis',
  'p_h_venous_blood_gas_analysis',
  'total_co2_venous_blood_gas_analysis',
  'hb_saturation_venous_blood_gas_analysis',
  'base_excess_venous_blood_gas_analysis',
  'p_co2_venous_blood_gas_analysis',
  'fio2_venous_blood_gas_analysis'],
 ['international_normalized_ratio_inr',
  'relationship_patient_normal',
  'fio2_venous_blood_gas_analysis'],
 ['creatine_phosphokinase_u_fffd_cpk_u_fffd'],
 ['lactic_dehydrogenase'],
 ['myeloblasts',
  'myelocytes',
  'metamyelocytes',
  'promyelocytes',
  'segmented',
  'rods_number'],
 ['relationship_patient_normal'],
 ['urine_aspect',
  'urine_p_h',
  'urine_bile_pigments',
  'urine_density',
  'urine_leukocytes',
  'urine_crystals',
  'urine_red_blood_cells',
  'urine_yeasts',
  'urine_color',
  'urine_granular_cylinders',
  'urine_urobilinogen',
  'urine_hyaline_cylinders',
  'urine_esterase',
  'urine_protein',
  'urine_ketone_bodies',
  'urine_nitrite'],
 ['urine_urobilinogen', 'urine_ketone_bodies', 'urine_nitrite'],
 ['urine_hyaline_cylinders', 'urine_nitrite'],
 ['urine_esterase', 'urine_nitrite'],
 ['urine_protein', 'urine_nitrite'],
 ['urine_ketone_bodies', 'urine_nitrite'],
 ['ionized_calcium_u_fffd'],
 ['magnesium', 'vitamin_b12'],
 ['p_co2_arterial_blood_gas_analysis',
  'hb_saturation_arterial_blood_gases',
  'p_o2_arterial_blood_gas_analysis',
  'hco3_arterial_blood_gas_analysis',
  'total_co2_arterial_blood_gas_analysis',
  'p_h_arterial_blood_gas_analysis',
  'base_excess_arterial_blood_gas_analysis',
  'ct_o2_arterial_blood_gas_analysis',
  'arterial_lactic_acid',
  'arteiral_fio2'],
 ['ferritin'],
 ['arteiral_fio2'],
 ['phosphor', 'vitamin_b12'],
 ['albumin'],
 ['lipase_dosage'],
 ['vitamin_b12'],
 ['fio2_venous_blood_gas_analysis']]

In [15]:
single = []
for i in range(len(subsets)):
    if len(subsets[i])==1:
        single.append(i)

In [16]:
single

[10, 18, 19, 21, 28, 31, 32, 34, 35, 36, 37]

In [17]:
iterate = 0
for item in single:
    item = item - iterate
    subsets.pop(item)
    iterate += 1

In [18]:
for item in subsets:
    print(item)

['influenza_b', 'influenza_a', 'respiratory_syncytial_virus', 'rhinovirus_enterovirus', 'parainfluenza_4', 'coronavirus_hku1', 'parainfluenza_3', 'chlamydophila_pneumoniae', 'adenovirus', 'coronavirus229e', 'coronavirus_nl63', 'coronavirus_oc43', 'inf_a_h1n1_2009', 'bordetella_pertussis', 'metapneumovirus', 'parainfluenza_2', 'parainfluenza_1', 'urine_nitrite']
['influenza_b_rapid_test', 'influenza_a_rapid_test', 'fio2_venous_blood_gas_analysis']
['hematocrit', 'hemoglobin', 'lymphocytes', 'basophils', 'red_blood_cells', 'platelets', 'leukocytes', 'mean_corpuscular_hemoglobin_concentration_u_fffd_mchc', 'mean_corpuscular_hemoglobin_mch', 'eosinophils', 'mean_corpuscular_volume_mcv', 'red_blood_cell_distribution_width_rdw', 'monocytes', 'mean_platelet_volume', 'neutrophils', 'serum_glucose', 'international_normalized_ratio_inr', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'relationship_patient_normal', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
['mean_platelet_volume', 'myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number', 'ionized_calcium_u_fffd', 'magnesium', 'p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'ferritin', 'arteiral_fio2', 'phosphor', 'lipase_dosage', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
['neutrophils', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
['proteina_c_reativa_mg_d_l', 'vitamin_b12', 'fio2_venous_blood_gas_analysis', 'urine_nitrite']
['creatinine', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
['urea', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
['potassium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
['sodium', 'magnesium', 'vitamin_b12', 'fio2_venous_blood_gas_analysis']
['aspartate_transaminase', 'alanine_transaminase', 'gamma_glutamyltransferase_u_fffd', 'alkaline_phosphatase', 'lipase_dosage', 'vitamin_b12']
['serum_glucose', 'fio2_venous_blood_gas_analysis']
['direct_bilirubin', 'indirect_bilirubin', 'total_bilirubin', 'fio2_venous_blood_gas_analysis']
['gamma_glutamyltransferase_u_fffd', 'lipase_dosage', 'vitamin_b12']
['alkaline_phosphatase', 'vitamin_b12']
['p_o2_venous_blood_gas_analysis', 'hco3_venous_blood_gas_analysis', 'p_h_venous_blood_gas_analysis', 'total_co2_venous_blood_gas_analysis', 'hb_saturation_venous_blood_gas_analysis', 'base_excess_venous_blood_gas_analysis', 'p_co2_venous_blood_gas_analysis', 'fio2_venous_blood_gas_analysis']
['international_normalized_ratio_inr', 'relationship_patient_normal', 'fio2_venous_blood_gas_analysis']
['myeloblasts', 'myelocytes', 'metamyelocytes', 'promyelocytes', 'segmented', 'rods_number']
['urine_aspect', 'urine_p_h', 'urine_bile_pigments', 'urine_density', 'urine_leukocytes', 'urine_crystals', 'urine_red_blood_cells', 'urine_yeasts', 'urine_color', 'urine_granular_cylinders', 'urine_urobilinogen', 'urine_hyaline_cylinders', 'urine_esterase', 'urine_protein', 'urine_ketone_bodies', 'urine_nitrite']
['urine_urobilinogen', 'urine_ketone_bodies', 'urine_nitrite']
['urine_hyaline_cylinders', 'urine_nitrite']
['urine_esterase', 'urine_nitrite']
['urine_protein', 'urine_nitrite']
['urine_ketone_bodies', 'urine_nitrite']
['magnesium', 'vitamin_b12']
['p_co2_arterial_blood_gas_analysis', 'hb_saturation_arterial_blood_gases', 'p_o2_arterial_blood_gas_analysis', 'hco3_arterial_blood_gas_analysis', 'total_co2_arterial_blood_gas_analysis', 'p_h_arterial_blood_gas_analysis', 'base_excess_arterial_blood_gas_analysis', 'ct_o2_arterial_blood_gas_analysis', 'arterial_lactic_acid', 'arteiral_fio2']
['phosphor', 'vitamin_b12']

In [19]:
#virus test subset
nulls.loc[subsets[0],:]

                             count
influenza_b                   1354
influenza_a                   1354
respiratory_syncytial_virus   1354
rhinovirus_enterovirus        1352
parainfluenza_4               1352
coronavirus_hku1              1352
parainfluenza_3               1352
chlamydophila_pneumoniae      1352
adenovirus                    1352
coronavirus229e               1352
coronavirus_nl63              1352
coronavirus_oc43              1352
inf_a_h1n1_2009               1352
bordetella_pertussis          1352
metapneumovirus               1352
parainfluenza_2               1352
parainfluenza_1               1352
urine_nitrite                    1

In [20]:
virus_col = subsets[0][0:-1]
virus_col.insert(0,'patient_age_quantile')
virus_col.insert(0,'sars_cov_2_exam_result')
virus_col.insert(0,'patient_id')
virus_subgroup = data.dropna(subset=subsets[0][0:-1],how = 'all')[virus_col]

In [21]:
#rapid_test subset
nulls.loc[subsets[1],:]

                                count
influenza_b_rapid_test            820
influenza_a_rapid_test            820
fio2_venous_blood_gas_analysis      1

In [22]:
rapid_test_col = subsets[1][0:-1]
rapid_test_col.insert(0,'patient_age_quantile')
rapid_test_col.insert(0,'sars_cov_2_exam_result')
rapid_test_col.insert(0,'patient_id')
rapid_test_subgroup = data.dropna(subset=subsets[1][0:-1],how = 'all')[rapid_test_col]

In [23]:
#blood test subset,but we can make it smaller
nulls.loc[subsets[2],:]

                                                    count
hematocrit                                            603
hemoglobin                                            603
lymphocytes                                           602
basophils                                             602
red_blood_cells                                       602
platelets                                             602
leukocytes                                            602
mean_corpuscular_hemoglobin_concentration_u_fff...    602
mean_corpuscular_hemoglobin_mch                       602
eosinophils                                           602
mean_corpuscular_volume_mcv                           602
red_blood_cell_distribution_width_rdw                 602
monocytes                                             601
mean_platelet_volume                                  599
neutrophils                                           513
serum_glucose                                         208
international_normalized_ratio_inr                    133
myeloblasts                                            97
myelocytes                                             97
metamyelocytes                                         97
promyelocytes                                          97
segmented                                              97
rods_number                                            97
relationship_patient_normal                            91
ionized_calcium_u_fffd                                 50
magnesium                                              40
p_co2_arterial_blood_gas_analysis                      27
hb_saturation_arterial_blood_gases                     27
p_o2_arterial_blood_gas_analysis                       27
hco3_arterial_blood_gas_analysis                       27
total_co2_arterial_blood_gas_analysis                  27
p_h_arterial_blood_gas_analysis                        27
base_excess_arterial_blood_gas_analysis                27
ct_o2_arterial_blood_gas_analysis                      27
arterial_lactic_acid                                   27
ferritin                                               23
arteiral_fio2                                          20
phosphor                                               20
lipase_dosage                                           8
vitamin_b12                                             3
fio2_venous_blood_gas_analysis                          1
urine_nitrite                                           1

In [24]:
# Although the real medical jargans are confusing, we put these together as transaminase
nulls.loc[subsets[10],:]

                                  count
aspartate_transaminase              226
alanine_transaminase                225
gamma_glutamyltransferase_u_fffd    153
alkaline_phosphatase                144
lipase_dosage                         8
vitamin_b12                           3

In [25]:
transaminase_col =subsets[10][0:-2]
transaminase_col.insert(0,'patient_age_quantile')
transaminase_col.insert(0,'sars_cov_2_exam_result')
transaminase_col.insert(0,'patient_id')
transaminase_subgroup = data.dropna(subset=subsets[10][0:-2],how = 'all')[transaminase_col]

In [26]:
#bilirubin
nulls.loc[subsets[12],:]

                                count
direct_bilirubin                  182
indirect_bilirubin                182
total_bilirubin                   182
fio2_venous_blood_gas_analysis      1

In [27]:
bilirubin_col =subsets[12][0:-1]
bilirubin_col.insert(0,'patient_age_quantile')
bilirubin_col.insert(0,'sars_cov_2_exam_result')
bilirubin_col.insert(0,'patient_id')
bilirubin_subgroup = data.dropna(subset=subsets[12][0:-1],how = 'all')[bilirubin_col]

In [28]:
#venous
nulls.loc[subsets[15],:]

                                         count
p_o2_venous_blood_gas_analysis             136
hco3_venous_blood_gas_analysis             136
p_h_venous_blood_gas_analysis              136
total_co2_venous_blood_gas_analysis        136
hb_saturation_venous_blood_gas_analysis    136
base_excess_venous_blood_gas_analysis      136
p_co2_venous_blood_gas_analysis            136
fio2_venous_blood_gas_analysis               1

In [29]:
venous_col =subsets[15]
venous_col.insert(0,'patient_age_quantile')
venous_col.insert(0,'sars_cov_2_exam_result')
venous_col.insert(0,'patient_id')
venous_subgroup = data.dropna(subset=subsets[15],how = 'all')[venous_col]

In [30]:
#blood_property
nulls.loc[subsets[17],:]

                count
myeloblasts        97
myelocytes         97
metamyelocytes     97
promyelocytes      97
segmented          97
rods_number        97

In [31]:
blood_property_col =subsets[17]
blood_property_col.insert(0,'patient_age_quantile')
blood_property_col.insert(0,'sars_cov_2_exam_result')
blood_property_col.insert(0,'patient_id')
blood_property_subgroup = data.dropna(subset=subsets[17],how = 'all')[blood_property_col]

In [32]:
#urine
nulls.loc[subsets[18],:]

                          count
urine_aspect                 70
urine_p_h                    70
urine_bile_pigments          70
urine_density                70
urine_leukocytes             70
urine_crystals               70
urine_red_blood_cells        70
urine_yeasts                 70
urine_color                  70
urine_granular_cylinders     69
urine_urobilinogen           69
urine_hyaline_cylinders      67
urine_esterase               60
urine_protein                60
urine_ketone_bodies          57
urine_nitrite                 1

In [33]:
urine_col =subsets[18]
urine_col.insert(0,'patient_age_quantile')
urine_col.insert(0,'sars_cov_2_exam_result')
urine_col.insert(0,'patient_id')
urine_col.append('urine_hemoglobin')
urine_subgroup = data.dropna(subset=subsets[18],how = 'all')[urine_col]

In [34]:
#arterial
nulls.loc[subsets[25],:]

                                         count
p_co2_arterial_blood_gas_analysis           27
hb_saturation_arterial_blood_gases          27
p_o2_arterial_blood_gas_analysis            27
hco3_arterial_blood_gas_analysis            27
total_co2_arterial_blood_gas_analysis       27
p_h_arterial_blood_gas_analysis             27
base_excess_arterial_blood_gas_analysis     27
ct_o2_arterial_blood_gas_analysis           27
arterial_lactic_acid                        27
arteiral_fio2                               20

In [35]:
arterial_col =subsets[25]
arterial_col.insert(0,'patient_age_quantile')
arterial_col.insert(0,'sars_cov_2_exam_result')
arterial_col.insert(0,'patient_id')
arterial_subgroup = data.dropna(subset=subsets[25],how = 'all')[arterial_col]

In [36]:
#finally we have blood test
nulls.loc[subsets[2],:][0:16]

                                                    count
hematocrit                                            603
hemoglobin                                            603
lymphocytes                                           602
basophils                                             602
red_blood_cells                                       602
platelets                                             602
leukocytes                                            602
mean_corpuscular_hemoglobin_concentration_u_fff...    602
mean_corpuscular_hemoglobin_mch                       602
eosinophils                                           602
mean_corpuscular_volume_mcv                           602
red_blood_cell_distribution_width_rdw                 602
monocytes                                             601
mean_platelet_volume                                  599
neutrophils                                           513
serum_glucose                                         208

In [37]:
blood_test_col =subsets[2][0:16]
blood_test_col.insert(0,'patient_age_quantile')
blood_test_col.insert(0,'sars_cov_2_exam_result')
blood_test_col.insert(0,'patient_id')
blood_test_subgroup = data.dropna(subset=subsets[2][0:16],how = 'all')[blood_test_col]

In [38]:
new_data = data

In [39]:
for item in range(3):
    virus_col.pop(0)
    rapid_test_col.pop(0)
    transaminase_col.pop(0)
    bilirubin_col.pop(0)
    venous_col.pop(0)
    blood_property_col.pop(0)
    urine_col.pop(0)
    arterial_col.pop(0)
    blood_test_col.pop(0)   
new_data = new_data.drop(columns = virus_col)
new_data = new_data.drop(columns = rapid_test_col)
new_data = new_data.drop(columns = transaminase_col)
new_data = new_data.drop(columns = bilirubin_col)
new_data = new_data.drop(columns = venous_col)
new_data = new_data.drop(columns = blood_property_col)
new_data = new_data.drop(columns = urine_col)
new_data = new_data.drop(columns = arterial_col)
new_data = new_data.drop(columns = blood_test_col)

In [40]:
#make new csvs
virus_subgroup.to_csv('virus_subgroup.csv')
rapid_test_subgroup.to_csv('rapid_test_subgroup.csv')
transaminase_subgroup.to_csv('transaminase_subgroup.csv')
bilirubin_subgroup.to_csv('bilirubin_subgroup.csv')
venous_subgroup.to_csv('venous_subgroup.csv')
blood_property_subgroup.to_csv('blood_property_subgroup.csv')
urine_subgroup.to_csv('urine_subgroup.csv')
arterial_subgroup.to_csv('arterial_subgroup.csv')
blood_test_subgroup.to_csv('blood_test_subgroup.csv')
new_data.to_csv('new_data.csv')

In [41]:
new_data

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,mycoplasma_pneumoniae,urea,proteina_c_reativa_mg_d_l,creatinine,...,international_normalized_ratio_inr,lactic_dehydrogenase,prothrombin_time_pt_activity,vitamin_b12,creatine_phosphokinase_u_fffd_cpk_u_fffd,ferritin,lipase_dosage,d_dimer,albumin,phosphor
0,44477f75e8169d2,13,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,0,0,0,0,NaN,1.198059,-0.147895,2.089928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,1,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,1,0,0,0,NaN,0.453725,-0.503570,-0.735872,...,NaN,0.420204,NaN,NaN,-0.343291,NaN,NaN,NaN,NaN,NaN